name: JaCoCo Report
on: [ pull_request ]


permissions:
  contents: read

jobs:
  # Adds the following filters:
  # Only run when files that influence the build are updated.
  # Don't run again if the same commit has already been run.
  filter:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          concurrent_skipping: 'same_content_newer'
          paths: '["**/src/**", "**.gradle", "samples/**", "config/**"]'

  generate-jacoco:
    strategy:
      matrix:
        package: [ 'c3r-sdk-core' , 'c3r-sdk-parquet' , 'c3r-cli' ]
    runs-on: ubuntu-latest
    needs: filter
    if: ${{ needs.filter.outputs.should_skip != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run Gradle build
        run: ./gradlew build --parallel
      - name: jacoco-badge-generator
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: ${{ matrix.package }}/build/reports/jacoco/test/jacocoTestReport.csv
          coverage-badge-filename: ${{ matrix.package }}_coverage.svg
          coverage-label: coverage ${{ matrix.package }}
          branches-badge-filename: ${{ matrix.package }}_branches.svg
          branches-label: branches ${{ matrix.package }}

      - name: Log coverage percentages to workflow output
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branches = ${{ steps.jacoco.outputs.branches }}"
